@import url('https://googleapis.com');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#EFE5D5;
    --primary-color: #5A4033;
    --secondary-color: #7D8C8D;
    --accent-color: #C19A6B;
    --text-color: #292522; 
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}
.navbar {
    position: absolute;
    max-width: 900px;
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;
    background: transparent;
    border-radius: 50px;

    transform: translateX(-50%);
    left: 50%;
    margin-top: 15px;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.9);

    height: 60px;
    padding: 12px;

    overflow: hidden;
    white-space: nowrap;

    animation: expandNavbar 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 1.2s;
}

li a.navlink-active{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 13px;
    white-space: nowrap;
    font-weight: 500;
    border: 1px solid white;
    background: transparent;
    border-radius: 50px;
    transition: 0.3s font-weight ease-in-out;
    transition: 0.3s background ease-in-out;
}

li a.navlink-active:hover{
    background: white;
    color: black;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 10px;
    
}
.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 0;
    padding:0;
    flex-shrink:0;
    background-color:#EFE5D5;
    border-radius: 50px;
    color: black;
}

.logo-image{
    max-height: 510px;
    max-width: 49px;
    padding: 0;
    margin: 0;
}

.nav-links{
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 13px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    animation: fadeInLinks 0.5s ease forwards;
    animation-delay: 1.8s;
}


.nav-links::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.nav-links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;              /* Full viewport height */
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;           /* Fills section smoothly without stretching */
    object-position: center;
    z-index: 0;
}

/* Dark Overlay */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}


.hero-content{
    display: flex;
    color: white;
    gap: 10px;
    z-index: 3;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin:0;
}

.hero-heading {
    font-family: "DM Serif Display", serif;
    font-size: 80px;
    font-weight: 500;
    margin:0;
    padding: 0;
}

.hero-heading-active{
    color: var(--accent-color);
}

.hero-subheading{
    font-size: 30px;
}

.btn-menu{
    background-color: transparent;
    padding: 13px 30px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    transition: 2s font-weight ease-in-out;
    transition: 0.2s transform ease-in-out;
}

.btn-menu:hover{
    font-weight: 500;
    transform: scale(1.05);
    background: white;
    color:black;
}

.welcome-text{
    position: absolute;
    color: white;
    white-space: nowrap;
    margin-left: 60px;
    font-size: 19px;
    animation: fadeOutText 0.4s ease forwards;
    animation-delay: 1.2s;
}





/* 1. Expand navbar width from 140px to full width */
@keyframes expandNavbar {
    0% {
        width: 140px;
    }
    100% {
        width: min(33%, 900px); /* Grows to full responsive width */
    }
}

/* 2. Fade out "Welcome" */
@keyframes fadeOutText {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
        visibility: hidden;
    }
}

/* 3. Fade in links */
@keyframes fadeInLinks {
    0% {
        opacity: 0;
        transform: translateY(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto; /* Makes links clickable */
    }
}

.menu{
    position: relative;
    width: 100%;
    height: 100vh;              /* Full viewport height */
    min-height: 500px;
    overflow: hidden;  
    background: var(--bg-color);
    box-sizing: border-box;
    
}

.heading-menu{
    position: relative;
    font-family: Georgia;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    z-index: 200; 
    margin-top: 80px;  
}

.marquee-text{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 200px;
    z-index: 1;
    color: var(--primary-color);
}

.marquee-banner{
    position: absolute;
    top: 34%;
    width: 100%;
    text-align: center;
     overflow: hidden;
    white-space: nowrap;
    z-index: 20;
}

.marquee-track{
    display: flex;
  width: max-content;
  animation: scrollMarquee 120s linear infinite;
}
.signature-dashboard{
    position: relative;
    display: flex;
    min-height: 80%;
    align-items: center;
    justify-content: space-between;
    z-index: 21;
}

.signature-drinks img{
    height: 500px;
    width: 500px;
    
}

.signature-dashboard button{
    border:none;
    border-radius: 100px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 30px;
    color: black;
    background: white;
}

.btn-pan-lt{
    margin-left: 80px;

}

.btn-pan-rt{
    margin-right: 80px;

}
@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.franchise{
    position: relative;
    width: 100%;
    height: 100vh;              /* Full viewport height */
    min-height: 500px;
    overflow: hidden;  
    background: var(--bg-color);
    box-sizing: border-box;
    font-family: Georgia;
}
.heading-franchise{
    position: absolute;
    font-family: Georgia;
    display:flex;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
    z-index: 200;
    width: 50%;
    border-radius: 50px;
    padding:9px 0px;
    background: var(--primary-color );
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.heading-franchise-text{
    text-align: center;
    font-size: 50px;
    z-index: 200; 
    color: white;
}

.heading-accent{
    text-align: center;
    font-size: 50px;
    z-index: 200;
    color: #ffc700;
    -webkit-text-stroke: 0.6px #9d5c0d;
    overflow: hidden;
}

.branch-container{
    position: absolute;
    display:flex;
    width: 58%;
    z-index: 1;
    padding: 0;
    transform: translateX(63%);
}

.pic-branch{
    position: absolute;
    width: 100%;
    z-index:10;
}
.pic-design{
    width: 120%;
    z-index:1;
    top: 60%;
    position:absolute;
    transform: translateX(20%);
    opacity: 8%;
}

.franchise-content{
    font-family:'Montserrat';
    position: absolute;
    width: 25%;
    text-align: justify;
    left: 5%;
    top: 38%;
    color: var(--primary-color);
}

.title-franchise{
    font-weight: 1000;
}

.subheading-franchise{
}